[Unit]
Description=Tapo Rest API

[Service]
Type=simple
ExecStart=/usr/local/bin/tapo-rest --devices-config-path "CONFIG_PATH" --port 6670 --auth-password "AUTH_PASSWORD"

[Install]
WantedBy=default.target
